# CDS-vis Session 1 - Introduction to Python (cont.)

In [1]:
text_snippet = "It was the best of times, it was the worst of times"

In [2]:
text_snippet.upper()

'IT WAS THE BEST OF TIMES, IT WAS THE WORST OF TIMES'

In [3]:
text_snippet.lower()

'it was the best of times, it was the worst of times'

In [4]:
text_snippet.split()

['It',
 'was',
 'the',
 'best',
 'of',
 'times,',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times']

In [5]:
# output is a list of strings
text_snippet.split(",")

['It was the best of times', ' it was the worst of times']

In [6]:
type(text_snippet.split(","))

list

## Sequence types - list

In [7]:
colours = ["blue", "green", "red"]

In [8]:
colours

['blue', 'green', 'red']

In [9]:
type(colours[1])

str

In [10]:
colours[1]

'green'

In [12]:
colours[-1]

'red'

In [13]:
user_data = ["mary", 42, 1.65]

In [14]:
big_list = [user_data, colours]

In [15]:
big_list

[['mary', 42, 1.65], ['blue', 'green', 'red']]

In [19]:
big_list[0][1]

42

In [20]:
big_list[0][0][0]

'm'

In [21]:
user_data + colours

['mary', 42, 1.65, 'blue', 'green', 'red']

In [22]:
#cannot concatenate strings to lists, only lists with lists, and strings with strings
colours + "yellow"

TypeError: can only concatenate list (not "str") to list

In [23]:
colours.append("yellow")

In [24]:
colours

['blue', 'green', 'red', 'yellow']

In [25]:
colours.remove("green")

In [26]:
colours

['blue', 'red', 'yellow']

# Tuples

In [27]:
# in rounded brackets rather than square brackets (used for strings)
colours_tup = ("blue", "green", "red")

In [28]:
colours_tup

('blue', 'green', 'red')

In [29]:
colours_tup.append("yellow")

AttributeError: 'tuple' object has no attribute 'append'

# Dictionaries

In [30]:
user_ages = {"mary":42,"john":34}

In [31]:
user_ages["mary"]

42

In [32]:
new_users = dict(mary=[42,1.65],
                john=[50,1.80],
                alice=[24,1.83])

In [33]:
new_users

{'mary': [42, 1.65], 'john': [50, 1.8], 'alice': [24, 1.83]}

In [34]:
new_users["mary"][1]

1.65

In [35]:
mary = dict(age=[42], height=[1.65])

In [36]:
mary

{'age': [42], 'height': [1.65]}

In [37]:
john = dict(age=[50], height=[1.8])

In [47]:
userdict = {"mary":{"age":42, "height":1.65}, "john":{"age":50, "height":1.8}, "alice":{"age":24, "height":1.83}}

In [48]:
userdict

{'mary': {'age': 42, 'height': 1.65},
 'john': {'age': 50, 'height': 1.8},
 'alice': {'age': 24, 'height': 1.83}}

In [49]:
userdict["mary"]["age"]

42

# Number types

In [50]:
type(2)

int

In [51]:
type(2.1)

float

In [52]:
type(2.0)

float

In [53]:
2 == 2.0

True

In [54]:
#changing the type
float(2)

2.0

In [55]:
#turning a float into an int keeps only the int part, rather than rounding up
int(2.5)

2

In [56]:
int(2.99999999999999)

2

In [60]:
#regular division will always return a float, even if the numbers are ints
11/2

5.5

In [59]:
#to get an int value, we can use // for floor division
11//2

5

### Boolean (bool) types
look like numbers, but are not
booleans are used to indicate whether something is true or false

In [61]:
True == 1

True

In [62]:
False == 0

True

## Introducing ```NumPy``` arrays
a package for scientific computing
install numpy by opening the terminal and typing in pip install numpy

In [64]:
import os
import numpy as np

In [65]:
# create file path
filepath = os.path.join("..",
                        "cds-vis-data",
                        "data",
                        "sample-data", 
                        "sample-data-01.csv")

In [66]:
filepath

'../cds-vis-data/data/sample-data/sample-data-01.csv'

In [67]:
data = np.loadtxt(fname=filepath, delimiter=",")

In [68]:
data

array([[0., 0., 1., ..., 3., 0., 0.],
       [0., 1., 2., ..., 1., 0., 1.],
       [0., 1., 1., ..., 2., 1., 1.],
       ...,
       [0., 1., 1., ..., 1., 1., 1.],
       [0., 0., 0., ..., 0., 2., 0.],
       [0., 0., 1., ..., 1., 1., 0.]])

In [69]:
type(data)

numpy.ndarray