# CDS-vis Session 1 - Introduction to Python (cont.)

In [1]:
text_snippet = "It was the best of times, it was the worst of times"

In [2]:
text_snippet.upper()

'IT WAS THE BEST OF TIMES, IT WAS THE WORST OF TIMES'

In [3]:
text_snippet.lower()

'it was the best of times, it was the worst of times'

In [4]:
text_snippet.split()

['It',
 'was',
 'the',
 'best',
 'of',
 'times,',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times']

In [5]:
# output is a list of strings
text_snippet.split(",")

['It was the best of times', ' it was the worst of times']

In [6]:
type(text_snippet.split(","))

list

## Sequence types - list

In [7]:
colours = ["blue", "green", "red"]

In [8]:
colours

['blue', 'green', 'red']

In [9]:
type(colours[1])

str

In [10]:
colours[1]

'green'

In [12]:
colours[-1]

'red'

In [13]:
user_data = ["mary", 42, 1.65]

In [14]:
big_list = [user_data, colours]

In [15]:
big_list

[['mary', 42, 1.65], ['blue', 'green', 'red']]

In [19]:
big_list[0][1]

42

In [20]:
big_list[0][0][0]

'm'

In [21]:
user_data + colours

['mary', 42, 1.65, 'blue', 'green', 'red']

In [22]:
#cannot concatenate strings to lists, only lists with lists, and strings with strings
colours + "yellow"

TypeError: can only concatenate list (not "str") to list

In [23]:
colours.append("yellow")

In [24]:
colours

['blue', 'green', 'red', 'yellow']

In [25]:
colours.remove("green")

In [26]:
colours

['blue', 'red', 'yellow']

# Tuples

In [27]:
# in rounded brackets rather than square brackets (used for strings)
colours_tup = ("blue", "green", "red")

In [28]:
colours_tup

('blue', 'green', 'red')

In [29]:
colours_tup.append("yellow")

AttributeError: 'tuple' object has no attribute 'append'

# Dictionaries

In [30]:
user_ages = {"mary":42,"john":34}

In [31]:
user_ages["mary"]

42

In [32]:
new_users = dict(mary=[42,1.65],
                john=[50,1.80],
                alice=[24,1.83])

In [33]:
new_users

{'mary': [42, 1.65], 'john': [50, 1.8], 'alice': [24, 1.83]}

In [34]:
new_users["mary"][1]

1.65

In [35]:
mary = dict(age=[42], height=[1.65])

In [36]:
mary

{'age': [42], 'height': [1.65]}

In [37]:
john = dict(age=[50], height=[1.8])

In [47]:
userdict = {"mary":{"age":42, "height":1.65}, "john":{"age":50, "height":1.8}, "alice":{"age":24, "height":1.83}}

In [48]:
userdict

{'mary': {'age': 42, 'height': 1.65},
 'john': {'age': 50, 'height': 1.8},
 'alice': {'age': 24, 'height': 1.83}}

In [49]:
userdict["mary"]["age"]

42

# Number types

In [50]:
type(2)

int

In [51]:
type(2.1)

float

In [52]:
type(2.0)

float

In [53]:
2 == 2.0

True

In [54]:
#changing the type
float(2)

2.0

In [55]:
#turning a float into an int keeps only the int part, rather than rounding up
int(2.5)

2

In [56]:
int(2.99999999999999)

2

In [60]:
#regular division will always return a float, even if the numbers are ints
11/2

5.5

In [59]:
#to get an int value, we can use // for floor division
11//2

5

### Boolean (bool) types
look like numbers, but are not
booleans are used to indicate whether something is true or false

In [61]:
True == 1

True

In [62]:
False == 0

True

## Introducing ```NumPy``` arrays
a package for scientific computing
install numpy by opening the terminal and typing in pip install numpy

In [2]:
import os
import numpy as np

In [3]:
# create file path
filepath = os.path.join("..",
                        "..",
                        "cds-vis-data",
                        "data",
                        "sample-data", 
                        "sample-data-01.csv")

In [4]:
filepath

'../../cds-vis-data/data/sample-data/sample-data-01.csv'

In [5]:
data = np.loadtxt(fname=filepath, delimiter=",")

In [6]:
data

array([[0., 0., 1., ..., 3., 0., 0.],
       [0., 1., 2., ..., 1., 0., 1.],
       [0., 1., 1., ..., 2., 1., 1.],
       ...,
       [0., 1., 1., ..., 1., 1., 1.],
       [0., 0., 0., ..., 0., 2., 0.],
       [0., 0., 1., ..., 1., 1., 0.]])

In [7]:
type(data)

numpy.ndarray

In [8]:
data.dtype

dtype('float64')

In [9]:
#note that the first number shows the rows and the second number shows the columns. y axis -> x axis
data.shape

(60, 40)

In [11]:
#once again, this goes y axis -> x axis
data[2,1]

1.0

In [12]:
#0,0 is the very first variable, zero indexing
data[0,0]

0.0

In [14]:
#the data set is 60 by 40, to find the very last variable, we need to use 59 and 39
data[59,39]

0.0

In [15]:
# or use -1
data[-1,-1]

0.0

In [16]:
#array slice
#example: how to get the first 4 rows and 10 columns
data[0:4,0:10]

array([[0., 0., 1., 3., 1., 2., 4., 7., 8., 3.],
       [0., 1., 2., 1., 2., 1., 3., 2., 2., 6.],
       [0., 1., 1., 3., 3., 2., 6., 2., 5., 9.],
       [0., 0., 2., 0., 4., 2., 2., 1., 6., 7.]])

In [17]:
#select whole row
#leave second coordinate empty, because we are not slicing it
data[0,:]

array([ 0.,  0.,  1.,  3.,  1.,  2.,  4.,  7.,  8.,  3.,  3.,  3., 10.,
        5.,  7.,  4.,  7.,  7., 12., 18.,  6., 13., 11., 11.,  7.,  7.,
        4.,  6.,  8.,  8.,  4.,  4.,  5.,  7.,  3.,  4.,  2.,  3.,  0.,
        0.])

In [18]:
#select whole column
data[:,0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [19]:
# average score from the whole array
np.mean(data)

6.14875

In [20]:
np.max(data)

20.0

In [21]:
np.min(data)

0.0

In [23]:
#max value per row
np.max(data,axis=1)

array([18., 18., 19., 17., 17., 18., 17., 20., 17., 18., 18., 18., 17.,
       16., 17., 18., 19., 19., 17., 19., 19., 16., 17., 15., 17., 17.,
       18., 17., 20., 17., 16., 19., 15., 15., 19., 17., 16., 17., 19.,
       16., 18., 19., 16., 19., 18., 16., 19., 15., 16., 18., 14., 20.,
       17., 15., 17., 16., 17., 19., 18., 18.])

In [24]:
#max value per column
np.max(data,axis=0)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 19., 18., 17., 16., 15.,
       14., 13., 12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.,
        1.])